<!DOCTYPE html>

<html>
<head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
        <div class="container">

                <div class="row">
                        <div class="col-12">
                                @RenderSection("Header", false)
                        </div>
                </div>
                <div class="row">
                        @RenderBody()
                </div>

                <div class="row">
                        <div class="col-12">
                                @if (IsSectionDefined("SomeSection"))
                                {
                                        @RenderSection("SomeSection", false)
                                }
                                else
                                {
                                        <div class="bg-info text-white p-2 m-2">
                                                Some section content goes here
                                        </div>
                                }
                        </div>
                </div>

                <div class="row">
                        <div class="col-12">
                                @RenderSection("Footer", false)
                        </div>
                </div>
        </div>
</body>
</html>
